################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/LeetMe/bin
/LeetMe/obj
/LeetMe.Benchmark/bin
/LeetMe.Benchmark/obj
/LeetMe.Sample/bin/
/LeetMe.Sample/obj
/.vs/LeetMe/v15/Server/sqlite3
/.vs
